@model urunTakip.Models.Entity.tblKategory
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("KategoriGuncelle", "Category", FormMethod.Post))
{
    <h2> Kategori Güncelleme</h2>
    <br />
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Güncelle</button>
}


